@font-face {
  font-family: "HeliosCond";
  font-style: normal;
  font-weight: 700;
  src: local("HeliosCond"),
    url("../fonts/helioscondc-bold.woff2") format("woff2"),
    url("../fonts/helioscondc-bold.woff") format("woff"),
    url("../fonts/helioscondc-bold.ttf") format("truetype");
}

/*===== variables =====*/

:root {
  --color-dark: #252525;
  --color-black: #000;
  --color-white: #fff;
  --color-yellow: #fc0;
  --color-grey: #d7d7d7;
}

/*===== main styles =====*/

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/*===== header styles =====*/

.header__wrapper {
  display: grid;
  grid-template-areas:
    "logo menu"
    "logo description";
  grid-template-columns: 17.95% 79.49%;
  column-gap: 2.56%;
  margin-bottom: 26px;
}

.header__logo {
  grid-area: logo;
  position: relative;
  width: 100%;
  padding-top: 19px;

  & a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.header__img {
  margin-bottom: 8px;
  padding: 10px 0 6px;
  background-color: var(--color-yellow);

  & img {
    display: block;
    width: 45.24%;
    height: auto;
    margin: 0 auto;
  }
}

.header__name {
  font-family: "HeliosCond", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color-black);
  text-align: center;
}

.header__menu {
  grid-area: menu;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  padding-top: 14px;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

.menu__nav {
  position: relative;
  min-width: 67.1%;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.header__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.menu__burger {
  display: none;
  position: relative;
  width: 21px;
  height: 16px;
  cursor: pointer;
  z-index: 150;
}

.menu__burger span {
  position: absolute;
  background-color: #1f1e1d;
  left: 0;
  width: 100%;
  height: 2px;
  top: 7px;
  border-radius: 100px;
  transition: all 0.3s ease 0s;
}

.menu__burger:before,
.menu__burger:after {
  content: "";
  background-color: #1f1e1d;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 100px;
  transition: transform 0.3s ease 0s;
}

.menu__burger:before {
  top: 0;
}

.menu__burger:after {
  bottom: 0;
}

.menu__burger.active:before {
  transform: rotate(45deg);
  top: 7px;
}

.menu__burger.active:after {
  transform: rotate(-45deg);
  bottom: 7px;
}

.menu__burger.active span {
  transform: scale(0);
}

.menu__login {
  min-width: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    width: 1px;
    height: 10px;
    background-color: var(--color-black);
  }
}

.menu__link,
.login__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: var(--color-dark);
  transition: all 0.2s linear;

  &:hover {
    color: #888;
  }
}

.menu__more {
  position: relative;
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: var(--color-dark);
  transition: all 0.2s linear;

  &:hover {
    color: #888;
  }
  cursor: pointer;

  & img {
    transition: transform 0.2s ease-in-out;
  }

  &.active img {
    transform: rotate(90deg);
  }
}

.menu__dropdown {
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: -75px;
  width: 150px;
  min-height: 80px;
  padding: 10px;
  background-color: var(--color-white);
  z-index: 100;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown__link {
  width: max-content;
  display: none;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: var(--color-dark);
}

.header__line {
  grid-area: line;
  margin-bottom: 19px;
  border-top: 1px solid var(--color-grey);
}

.header__description {
  grid-area: description;
  display: flex;
  justify-content: space-between;
}

.header__banner {
  width: 27.2%;
  height: 70px;
  padding-top: 3px;
  background-color: #e2e2e2;
}

.header__goods {
  list-style-type: none;
}

.goods__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  & .goods__icon path {
    transition: all 0.2s ease-in-out;
  }

  &:hover .goods__icon path {
    fill: #888;
  }

  &:hover .goods__info {
    color: #888;
  }

  &:first-child .goods__icon {
    margin-right: 11px;
  }

  &:nth-child(2) .goods__icon {
    margin-right: 11px;
    margin-left: 5px;
  }

  &:nth-child(3) .goods__icon {
    margin-right: 9px;
    margin-left: 3px;
  }

  &:nth-child(2) .goods__info {
    font-size: 12px;
  }

  &:nth-child(3) .goods__info {
    font-size: 12px;
    letter-spacing: -0.025;
  }
}

.goods__info {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: var(--color-dark);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.goods__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__preview {
  display: flex;
  padding-top: 3px;
}

.preview__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border: 1px solid #d9d9d9;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  & img {
    display: block;
    width: 88%;
    height: auto;
  }
}

.header__details {
  width: 19.79%;

  & .header__line {
    margin-bottom: 3px;
  }
}

.details__shedule {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: var(--color-dark);

  & span:first-child {
    font-weight: 700;
  }
}

.details__contact {
  display: block;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: var(--color-dark);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #888;
  }
}

.details__place {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;

  color: var(--color-dark);

  .details__change {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    cursor: pointer;

    & img {
      margin-right: 4px;
    }

    & span {
      border-bottom: 1px dotted var(--color-dark);
    }
  }
}

.header__navbar {
  position: relative;
  height: 34px;
  display: grid;
  grid-template-columns: 39px 1fr 127px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border-radius: 10px;
}

.navbar__search,
.navbar__sale {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow);
  text-transform: uppercase;
  cursor: pointer;
}

.navbar__search {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.navbar__sale {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-black);
}

.search__field {
  position: absolute;
  min-height: 0;
  visibility: hidden;
  top: 50%;
  left: 0;
  z-index: 5;
  padding: 10px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 380px 120px;
  align-items: flex-end;
  background-color: var(--color-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s linear;

  &.active {
    min-height: 65px;
    visibility: visible;
  }
}

.search__input,
.search__button {
  appearance: none;
  outline: none;
  border: none;
  height: 25px;
}

.search__input {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
  padding: 3px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search__button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--color-yellow);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.navbar__items {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: var(--color-dark);
  list-style-type: none;
}

.navbar__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 9px 19px;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
  transition: all 0.2s ease-in-out;

  & a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.active,
  &:hover {
    color: var(--color-black);
    background-color: var(--color-yellow);
  }
}

.navbar__more {
  display: none;
  padding: 0 19px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.active,
  &:hover {
    background-color: var(--color-yellow);
  }

  & circle {
    transition: all 0.2s ease-in-out;
  }

  &:hover circle {
    stroke: var(--color-dark);
  }
}

.navbar__dropdown {
  position: absolute;
  top: 24px;
  right: 127px;
  z-index: 5;
  width: 200px;
  min-height: 150px;
  color: var(--color-white);
  background-color: var(--color-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.navbar__dropdownItems {
  list-style-type: none;
  padding: 10px 0;
}

.navbar__dropdownItem {
  display: none;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover,
  &.active {
    color: var(--color-dark);
    background-color: var(--color-yellow);
  }
}

/*===== adaptive styles =====*/

@media (max-width: 1200px) {
  .menu__link:nth-child(6),
  .menu__link:nth-child(7) {
    display: none;
  }

  .menu__more {
    display: block;
  }

  .dropdown__link:nth-last-child(1),
  .dropdown__link:nth-last-child(2) {
    display: block;
  }

  .details__shedule {
    align-items: center;
    & span:first-child {
      max-width: 55px;
    }
  }

  .details__contact {
    font-size: 20px;
  }

  .navbar__item:nth-child(6),
  .navbar__item:nth-child(7) {
    display: none;
  }

  .navbar__more {
    display: flex;
  }

  .navbar__dropdownItem:nth-last-child(1),
  .navbar__dropdownItem:nth-last-child(2) {
    display: block;
  }
}

@media (max-width: 991px) {
  .header__wrapper {
    grid-template-columns: 150px 1fr;
  }

  .menu__link:nth-child(4),
  .menu__link:nth-child(5) {
    display: none;
  }

  .dropdown__link:nth-last-child(3),
  .dropdown__link:nth-last-child(4) {
    display: block;
  }

  .header__banner {
    width: auto;
    min-width: 200px;
  }

  .header__preview {
    display: none;
  }

  .header__details {
    width: auto;
  }

  .navbar__item:nth-child(4),
  .navbar__item:nth-child(5) {
    display: none;
  }

  .navbar__dropdownItem:nth-last-child(3),
  .navbar__dropdownItem:nth-last-child(4) {
    display: block;
  }
}

@media (max-width: 767px) {
  .menu__nav {
    min-width: auto;
    justify-content: flex-start;
  }

  .menu__link {
    margin-right: 10px;
  }

  .menu__link:nth-child(2),
  .menu__link:nth-child(3) {
    display: none;
  }

  .dropdown__link:nth-last-child(5),
  .dropdown__link:nth-last-child(6) {
    display: block;
  }

  .header__banner {
    display: none;
  }

  .navbar__item {
    display: none;
  }

  .header__navbar {
    grid-template-columns: 127px 1fr 127px;
  }

  .search__field {
    grid-template-columns: 1fr 100px;
  }

  .navbar__dropdown {
    width: 100%;
    text-align: center;
    right: 0;
  }

  .navbar__dropdownItem {
    display: block;
  }
}

@media (max-width: 575px) {
  .header__wrapper {
    grid-template-areas:
      "logo menu"
      "description description";
    grid-template-columns: 130px 1fr;
    gap: 20px 28px;
  }

  .header__menu {
    display: block;
  }

  .menu__nav {
    margin-right: 0;
  }

  .menu__burger {
    display: block;
    margin: 15px 0 50px auto;
  }

  .menu__login {
    max-width: 150px;
    margin: 0 0 0 auto;
  }

  .header__name {
    font-size: 12px;
  }

  .menu__link {
    display: none;
  }

  .menu__more {
    display: none;
  }

  .header__navbar {
    grid-template-columns: 100px 1fr 100px;
  }

  .navbar__sale {
    font-size: 12px;
  }

  .menu__more {
    display: block;

    & span,
    & img {
      display: none;
    }
  }

  .menu__dropdown {
    position: fixed;
    visibility: visible;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    opacity: 1;
    transition: transform 0.3s ease-in-out;
    padding: 20px;

    &.active {
      transform: translateX(140%);
    }
  }

  .dropdown__link {
    display: block;
  }

  .details__contact {
    font-size: 18px;
  }

  .search__field {
    grid-template-columns: 1fr 1fr;
  }
}
