@font-face {
  font-family: "HeliosCond";
  font-style: normal;
  font-weight: 700;
  src: local("HeliosCond"), url("../fonts/helioscondc-bold.woff2") format("woff2"), url("../fonts/helioscondc-bold.woff") format("woff"), url("../fonts/helioscondc-bold.ttf") format("truetype");
}
/*===== variables =====*/
:root {
  --color-dark: #252525;
  --color-black: #000;
  --color-white: #fff;
  --color-yellow: #fc0;
  --color-grey: #d7d7d7;
}

/*===== main styles =====*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/*===== header styles =====*/
.header__wrapper {
  display: grid;
  grid-template-areas: "logo menu" "logo description";
  grid-template-columns: 17.95% 79.49%;
  -webkit-column-gap: 2.56%;
     -moz-column-gap: 2.56%;
          column-gap: 2.56%;
  margin-bottom: 26px;
}

.header__logo {
  grid-area: logo;
  position: relative;
  width: 100%;
  padding-top: 19px;
}
.header__logo a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__img {
  margin-bottom: 8px;
  padding: 10px 0 6px;
  background-color: var(--color-yellow);
}
.header__img img {
  display: block;
  width: 45.24%;
  height: auto;
  margin: 0 auto;
}

.header__name {
  font-family: "HeliosCond", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color-black);
  text-align: center;
}

.header__menu {
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--color-grey);
  padding-top: 14px;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

.menu__nav {
  min-width: 67.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.menu__login {
  min-width: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__login span {
  width: 1px;
  height: 10px;
  background-color: var(--color-black);
}

.menu__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: var(--color-dark);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.menu__link:hover {
  color: #888;
}

.menu__more {
  display: none;
}
.menu__more img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__line {
  grid-area: line;
  margin-bottom: 19px;
  border-top: 1px solid var(--color-grey);
}

.header__description {
  grid-area: description;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__banner {
  width: 27.2%;
  height: 70px;
  padding-top: 3px;
  background-color: #e2e2e2;
}

.header__goods {
  list-style-type: none;
}

.goods__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.goods__item:last-child {
  margin-bottom: 0;
}
.goods__item .goods__icon path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.goods__item:hover .goods__icon path {
  fill: #888;
}
.goods__item:hover .goods__info {
  color: #888;
}
.goods__item:first-child .goods__icon {
  margin-right: 11px;
}
.goods__item:nth-child(2) .goods__icon {
  margin-right: 11px;
  margin-left: 5px;
}
.goods__item:nth-child(3) .goods__icon {
  margin-right: 9px;
  margin-left: 3px;
}
.goods__item:nth-child(2) .goods__info {
  font-size: 12px;
}
.goods__item:nth-child(3) .goods__info {
  font-size: 12px;
  letter-spacing: -0.025;
}

.goods__info {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: var(--color-dark);
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.goods__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3px;
}

.preview__item {
  position: relative;
  display: block;
  max-width: 70px;
  height: auto;
  margin-right: 15px;
}
.preview__item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__details {
  width: 19.79%;
}
.header__details .header__line {
  margin-bottom: 3px;
}

.details__shedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: var(--color-dark);
}
.details__shedule span:first-child {
  font-weight: 700;
}

.details__contact {
  display: block;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: var(--color-dark);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.details__contact:hover {
  color: #888;
}

.details__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: var(--color-dark);
}
.details__place .details__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  cursor: pointer;
}
.details__place .details__change img {
  margin-right: 4px;
}
.details__place .details__change span {
  border-bottom: 1px dotted var(--color-dark);
}

.header__navbar {
  height: 34px;
  display: grid;
  grid-template-columns: 39px 1fr 127px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border-radius: 10px;
}

.navbar__search,
.navbar__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-yellow);
  text-transform: uppercase;
  cursor: pointer;
}

.navbar__search {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.navbar__sale {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-black);
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-dark);
  list-style-type: none;
}

.navbar__item {
  position: relative;
  font-weight: 600;
  padding: 9px 19px;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar__item a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navbar__item.active, .navbar__item:hover {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

/*===== adaptive styles =====*/
@media (max-width: 1200px) {
  .menu__link:nth-child(6),
.menu__link:nth-child(7) {
    display: none;
  }
  .menu__more {
    position: relative;
    display: block;
  }
  .menu__dropdown {
    position: absolute;
    top: 20px;
    left: 0;
    width: 150px;
    min-height: 150px;
    padding: 10px;
    background-color: var(--color-white);
    z-index: 10;
    border: 1px solid var(--color-grey);
    border-radius: 10px;
  }
  .dropdown__link {
    display: none;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: var(--color-dark);
  }
  .dropdown__link:nth-last-child(1),
.dropdown__link:nth-last-child(2) {
    display: block;
  }
}